# Explore here

In [51]:
# Your code here
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

archivo = 'https://raw.githubusercontent.com/4GeeksAcademy/data-preprocessing-project-tutorial/main/AB_NYC_2019.csv'

df_original = pd.read_csv(archivo)
df=pd.read_csv(archivo)

# Obtener las dimensiones
datos,atributos=df.shape
print(f"Contamos con {datos} cantidad de datos y {atributos} atributos.")
print()
# Obtener información sobre tipos de datos y valores no nulos
df.info()

Contamos con 48895 cantidad de datos y 16 atributos.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

- Contamos con un total de 48.895 filas (alojamientos a alquilar) y 16 columnas, distintos atributos de los departamentos.
- Tanto la variable last_review como la variable reviews_per_month tienen más de 10000 valores nulos.
- Las variables name y host_name también cuentan con valores nulos, pero más reducido que lo anterior.
- El resto de las variables cuentan con todos los valores.
- Los datos cuentan con 10 características numéricas y 6 características categóricas.

In [52]:
#Búsqueda y eliminación de duplicados

duplicados = df.duplicated()
num_duplicados = duplicados.sum()


# sin considerar el id
df.drop("id", axis = 1).duplicated().sum()

np.int64(0)

No se han registrado datos duplicados en nuestro DataSet.

Selección de atributos relevantes:

Vamos a eliminar los siguientes atributos:
- id, name, host_id, host_name: Por ser algo individual.

In [56]:
# Selección de atributos relevantes

df.drop(["id", "name", "host_id", "host_name"], axis = 1, inplace = True)

df.head()

,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   neighbourhood_group             48895 non-null  object
 1   neighbourhood                   48895 non-null  object
 2   latitude                        48895 non-null  float64
 3   longitude                       48895 non-null  float64
 4   room_type                       48895 non-null  object
 5   price                           48895 non-null  int64
 6   minimum_nights                  48895 non-null  int64
 7   number_of_reviews               48895 non-null  int64
 8   last_review                     38843 non-null  object
 9   reviews_per_month               38843 non-null  float64
 10  calculated_host_listings_count  48895 non-null  int64
 11  availability_365                48895 non-null  int64
dtypes: float64(3), int64(5), object(4)
memory usage: 4.5+ MB

In [62]:
print(df.neighbourhood_group.value_counts())
print()
print(df.neighbourhood.value_counts())
print()

neighbourhood_group
Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: count, dtype: int64

neighbourhood
Williamsburg          3920
Bedford-Stuyvesant    3714
Harlem                2658
Bushwick              2465
Upper West Side       1971
                      ...
Richmondtown             1
Fort Wadsworth           1
New Dorp                 1
Rossville                1
Willowbrook              1
Name: count, Length: 221, dtype: int64

In [63]:
print(df.room_type.value_counts())
print()
print(df.last_review.value_counts())
print()

room_type
Entire home/apt    25409
Private room       22326
Shared room         1160
Name: count, dtype: int64

last_review
2019-06-23    1413
2019-07-01    1359
2019-06-30    1341
2019-06-24     875
2019-07-07     718
              ...
2017-01-12       1
2011-12-28       1
2017-10-05       1
2018-01-29       1
2018-03-29       1
Name: count, Length: 1764, dtype: int64